 <div class="container"> 
  <ul>
    <li class="well">
      <%=question.question %>
      
      <%= link_to "Answer" , new_answer_path ,class: "btn btn-primary pull-right answer" %>
    </li> 
  </ul>
 </div>