<div class="container text-center">
  <h1 class= "text-center">Welcome To Mind-Talk</h1>
  <h4>Here You can ask any Questions</h4>
   <% if user_signed_in?%>
    <p><%= link_to "Start a Blog" , new_question_path , class: "btn btn-primary" %></p>
    <p>or</p>
    <p><%= link_to "Reply to Blog" , questions_path , class: "btn btn-primary" %></p>
    <% else %>
    <%end%>
</div>
